.create-post-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-container {


        .select-postImage-label {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            color: black;
            padding: 0.5rem 1rem;
            border-radius: 1rem;


        }

    }
}