.nav {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;

    p {
        font-weight: 600;
        font-size: 1rem;
    }

    .button {
        background-color: #e44242;
        color: rgb(241, 238, 238);
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        padding: 0.3rem 0.5rem;
        border-radius: 50px;
        border: none;
        outline: none;

        &:active {
            scale: 0.95;
        }


    }
}