main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    height: fit-content;
    min-width: 350px;

    h1 {
        text-align: center;
        margin-block: 1rem;
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,
        button {
            padding: 0.8rem 1.3rem;
            border-radius: 1rem;
            border: none;
            outline: none;
        }

        button {
            background-color: #e44242;
            color: rgb(241, 238, 238);
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;

        }
    }

    p {
        margin-block: 1rem;
        font-weight: 200;

        a {
            text-decoration: none;
            color: #e44242;
        }
    }
}